.mixed-container-services-section {
    background-image: url('./images/containerservicespage7.png');
    border-bottom: 1px solid black;
    background-size: cover;
    background-position: center;
    color: #fff; 
    min-height: 100vh; 
    display: flex;
    align-items: center;
    position: relative;                
    z-index: 1;                       
    overflow: visible !important;
}
.mixed-conatiner-services-text {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.5;
    color: #003AA5;
    padding-left: 220px;
    padding-bottom: 15px;
}
.container-services-heading {
    font-size: 32px;
    font-weight: 700;
    color: black;
}
.container-services-points {
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.container-services-head {
    font-size: 24px;
    font-weight: 600;
    color: black;
}
.conatinerserviceshead {
    font-size: 24px;
    font-weight: 600;
    color: black;
}
.container-services-body {
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.benefits-head {
    font-size: 32px;
    font-weight: 700;
    color: black;
    border-bottom: 3px solid #CA2127;
    display: inline;
}


@media (max-width: 1200px) {
    .mixed-conatiner-services-text {
        font-size: 54px;
        padding-left: 150px;
    }
    .container-services-heading, .benefits-head {
        font-size: 28px;
    }
    .container-services-points, .container-services-body {
        font-size: 18px;
    }
    .container-services-head, .conatinerserviceshead {
        font-size: 22px;
    }
}

@media (max-width: 992px) {
    .mixed-conatiner-services-text {
        font-size: 48px;
        padding-left: 100px;
        padding-top: 300px;
    }
    .container-services-heading, .benefits-head {
        font-size: 26px;
    }
    .container-services-points, .container-services-body {
        font-size: 18px;
    }
    .container-services-head, .conatinerserviceshead {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .mixed-conatiner-services-text {
        font-size: 42px;
        padding-left: 50px;
        text-align: center;
        padding-top: 300px;
    }
    .container-services-heading, .benefits-head {
        font-size: 24px;
        text-align: center;
    }
    .container-services-points, .container-services-body {
        font-size: 16px;
    }
    .container-services-head, .conatinerserviceshead {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .mixed-conatiner-services-text {
        font-size: 36px;
        padding-left: 20px;
        text-align: center;
        padding-top: 300px;
    }
    .container-services-heading, .benefits-head {
        font-size: 22px;
        text-align: center;
    }
    .container-services-points, .container-services-body {
        font-size: 14px;
    }
    .container-services-head, .conatinerserviceshead {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .mixed-conatiner-services-text {
        font-size: 30px;
        padding: 0 10px;
        padding-top: 300px;
    }
    .container-services-heading, .benefits-head {
        font-size: 20px;
    }
    .container-services-points, .container-services-body {
        font-size: 14px;
    }
    .container-services-head, .conatinerserviceshead {
        font-size: 14px;
    }
}
