.product-sourcing-section {
    background-image: url('./images/productsourcing.png');
    border-bottom: 1px solid black;
    background-size: cover;
    background-position: center;
    color: #fff; 
    min-height: 100vh; 
    display: flex;
    align-items: center;
    position: relative;                
    z-index: 1;                       
    overflow: visible !important;
}
.product-sourcing-item {
    font-size: 64px;
    font-weight: 700;
    color: #003AA5;
}
.product-sourcing-text {
    font-size: 24px;
    font-weight: 400;
    color: black;
    padding-right: 650px;
    line-height: 30px;
    text-align: center;
}
.product-rectangle-bg {
    background-image: url('./images/productsourcingbg.png');
    margin-left: 80px;
}
.product-sourcing-heading {
    font-size: 36px;
    font-weight: 700;
    padding-left: 30px;
    padding-top: 60px;
    color: black;
}
.product-sourcing-text-body {
    font-size: 20px;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    color: black;
}
.product-sourcing-head {
    font-size: 24px;
    font-weight: 600;
    color: black;
}
.product-sourcing-body {
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    padding-right: 40px;
    color: black;
}
.product-sourcing-theory {
    margin-right: 40px;
}
.getting-started-heading {
    font-size: 32px;
    font-weight: 700;
    color: black;
}
.productsourcing-head {
    font-size: 24px;
    font-weight: 700;
    color: black;
    padding-left: 40px;
}
.productsourcing-body {
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    padding-right: 10px;
    color: black;
    padding-left: 40px;
}
.moq-section {
    background-color: #B3C4E433;
}
.moq-heading {
    font-size:24px;
    font-weight: 700;
    padding-top: 70px;
}
.moq-body {
    font-size: 20px;
    font-weight: 400;
    padding-right: 90px;
    padding-top: 20px;
}
.moq-img {
    padding-left: 70px;
}
.visit-factory-section {
    background-image: url('./images/visitfactory1.png');
    border-bottom: 1px solid black;
    background-size: cover;
    background-position: center;
    color: #fff; 
    min-height: 100vh; 
    display: flex;
    align-items: center;
    position: relative;                
    z-index: 1;                       
    overflow: visible !important;
}
.visit-factory-heading {
    font-size: 32px;
    font-weight: 700;
    color: black;
}
.visit-factory-body {
    font-size: 24px;
    font-weight: 500;
    color: black;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 40px;
}
.visit-factory-section-two {
    background-image: url('./images/visitfactory2.png');
    border-bottom: 1px solid black;
    background-size: cover;
    background-position: center;
    color: #fff; 
    min-height: 100vh; 
    display: flex;
    align-items: center;
    position: relative;                
    z-index: 1;                       
    overflow: visible !important;
}
.visitfactory-body {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.visitfactory-points {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.faq-section {
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width: 576px) {
  .product-sourcing-section,
  .visit-factory-section,
  .visit-factory-section-two {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px;
  }

  .product-sourcing-item {
      font-size: 32px;
      text-align: center;
      padding-top: 250px;
  }

  .product-sourcing-text {
      font-size: 16px;
      padding-right: 20px;
      padding-left: 20px;
  }

  .product-rectangle-bg {
      margin-left: 0;
      background-size: contain;
      background-repeat: no-repeat;
  }

  .product-sourcing-heading {
    font-size: 20px;
    padding-left: 40px;
  }
  .product-sourcing-head {
    font-size: 20px;
    padding-left: 40px;
  }
  .getting-started-heading,
  .visit-factory-heading,
  .productsourcing-head {
      font-size: 20px;
      padding-left: 10px;
      padding-top: 30px;
  }

  .product-sourcing-text-body {
    font-size: 16px;
    padding-left: 40px;
  }
  .product-sourcing-body {
    font-size: 16px;
    padding-left: 40px;
  }
  .productsourcing-body {
      font-size: 16px;
      padding-left: 10px;
      padding-right: 10px;
  }

  .moq-heading {
      font-size: 20px;
      padding-top: 40px;
  }

  .moq-body {
      font-size: 16px;
      padding-right: 20px;
      padding-left: 10px;
  }

  .moq-img {
      padding-left: 10px;
  }

  .visit-factory-body,
  .visitfactory-body,
  .visitfactory-points {
      font-size: 16px;
      padding-left: 10px;
      padding-right: 10px;
      line-height: 28px;
  }

  .faq-section {
      margin-left: 20px;
      margin-right: 20px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .product-sourcing-section,
  .visit-factory-section,
  .visit-factory-section-two {
      flex-direction: column;
      padding: 30px;
      text-align: center;
  }

  .product-sourcing-item {
      font-size: 36px;
      padding-top: 250px;
  }
  .product-rectangle-bg {
    background-size: contain;
    margin-left: 0;
    
}

  .product-sourcing-text {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .product-sourcing-text-body{
    font-size: 20px;
    padding-left: 50px;
  }
  .visit-factory-body,
  .visitfactory-body,
  .visitfactory-points {
      font-size: 18px;
      line-height: 28px;
      padding-left: 20px;
      padding-right: 20px;
  }

  .product-sourcing-heading {
    font-size: 26px;
    padding-left: 50px;
  }
  .visit-factory-heading {
      font-size: 26px;
      padding-top: 40px;
  }

  .product-sourcing-head {
    font-size: 24px;
    padding-left: 50px;
  }
  .productsourcing-head {
      font-size: 24px;
      padding-left: 20px;
  }

  .product-sourcing-body {
    font-size: 20px;
    padding-left: 50px;
  }
  .productsourcing-body {
      font-size: 20px;
      padding-left: 20px;
      padding-right: 20px;
  }

  .faq-section {
      margin: 30px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .product-sourcing-section,
  .visit-factory-section,
  .visit-factory-section-two {
      flex-direction: row;
      padding: 30px;
      text-align: center;
  }

  .product-sourcing-item {
      font-size: 36px;
      padding-top: 250px;
  }
  .product-rectangle-bg {
    background-size: contain;
    margin-left: 0;
    
}

  .product-sourcing-text {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .product-sourcing-text-body{
    font-size: 20px;
    padding-left: 50px;
  }
  .visit-factory-body,
  .visitfactory-body,
  .visitfactory-points {
      font-size: 18px;
      line-height: 28px;
      padding-left: 20px;
      padding-right: 20px;
  }

  .product-sourcing-heading {
    font-size: 26px;
    padding-left: 50px;
  }
  .visit-factory-heading {
      font-size: 26px;
      padding-top: 40px;
  }

  .product-sourcing-head {
    font-size: 24px;
    padding-left: 50px;
  }
  .productsourcing-head {
      font-size: 24px;
      padding-left: 20px;
  }

  .product-sourcing-body {
    font-size: 20px;
    padding-left: 50px;
  }
  .productsourcing-body {
      font-size: 20px;
      padding-left: 20px;
      padding-right: 20px;
  }

  .faq-section {
      margin: 30px;
  }
}