.terms-of-service-heading {
    font-size: 32px;
    font-weight: 700;
    color: #003AA5;
    padding-top: 60px;
}
.terms-of-service-head {
    font-size: 24px;
    font-weight: 600;
    color: black;
}
.terms-of-service-body {
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.custom-style {
    list-style-type: lower-roman;
}



@media (max-width: 1200px) {
    .terms-of-service-heading {
      font-size: 28px;
      padding-top: 50px;
    }
    .terms-of-service-head {
      font-size: 22px;
    }
    .terms-of-service-body {
      font-size: 18px;
    }
}
  
@media (max-width: 992px) {
    .terms-of-service-heading {
      font-size: 24px;
      padding-top: 40px;
    }
    .terms-of-service-head {
      font-size: 20px;
    }
    .terms-of-service-body {
      font-size: 16px;
    }
}
  
@media (max-width: 768px) {
    .terms-of-service-heading {
      font-size: 22px;
      padding-top: 30px;
    }
    .terms-of-service-head {
      font-size: 18px;
    }
    .terms-of-service-body {
      font-size: 15px;
    }
    .custom-style {
      padding-left: 20px;
      font-size: 15px;
    }
}
  
@media (max-width: 576px) {
    .terms-of-service-heading {
      font-size: 20px;
      padding-top: 20px;
    }
    .terms-of-service-head {
      font-size: 16px;
    }
    .terms-of-service-body {
      font-size: 14px;
    }
    .custom-style {
      padding-left: 15px;
      font-size: 14px;
    }
}
  